<div class="panel panel-default">
 <div class="panel-heading">
  メッセージ一覧
  </div>

 <div class="panel-body">
  <% @messages.each do |message| %>
	<span class="label label-info"><%= message.name %></span>
	<%= message.body %>
	<br />
	<% end %>
 </div>
</div>

<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
   <div class="alert alert-danger" >
   	<%= alert %>
   	<ul>
   		<% @message.errors.full_messages.each do |full_message| %>
   		<li>
   			<%= full_message %>
   		</li>
   		<% end %>
   	</ul>
   </div>
   <% end %>


	<span style="float:left">名前:</span>
	<div class="list-inline">
	<%= f.text_field :name, :size=>"21"%></div>
     <br />
	<span style="float:left">内容:</span>
	<div class="list-inline">
	<%= f.text_area :body, :size=>"20x10"%>
	</div>
	<br />
	<%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>
